section.main-screen.slide 
    .main-screen-wrap.main-card-wrap 
        .main-screen-intro-container 
            .main-screen-intro
                .main-screen-intro-img-wrap
                    img(src="./assets/images/intro/2.jpg", alt="").main-screen-intro-img
                .main-screen-intro-text 
                    .main-screen-intro-logo 
                        +svg('logo')
                    .main-screen-intro-descr.text-descr-uppercase.col__content-title Giza construction aims to bring you luxury by combining the best materials and high standard workmanship
        .main-screen-img-wrap 
            img(src="./assets/images/intro/1.jpg", alt="").main-screen-img.col__image-wrap
        
                    