.contact {
    height: 512px;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;

        @include tablet {
            padding: 100px 10px;
        }

        @include mobile {
            padding: 60px 12px;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &-image-wrap {
        width: 32%;
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
            
        }
        
    }
    
    &-main {
        width: 68%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 150px 80px 150px 245px;
        background: $mc2;
        height: inherit;

        @include mobile {
            width: 100%;
        }

    }

    &-socials-list {
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;

        @include tabletLarge {
            max-width: 644px;
        }

        @include tablet {
            flex-direction: column;
        }

        @include mobile {
            padding: 32px;
        }


    }
    &-socials-card {
        width: 50%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        @include tabletLarge {
            margin-bottom: 20px;
        }

        @include tablet {
            width: 100%;
        }

        &:nth-last-child(-n+2) {
            margin-bottom: 0;

            @include tablet {
                margin-bottom: 32px;
            }
        }

        &:last-child {
            @include tablet {
                margin-bottom: 0;
            }
        }

    }
    &-socials-card__title {
        margin-bottom: 8px;
        color: $mc1;

    }
    &-socials-card__descr {
        margin-bottom: 8px;
        color: $mc1;

    }
    &-socials-card__link {
        font-family: $default-font;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 120%;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: $mc1;

    }
    &-socials-card__link--simple {
        color: $mc1;
        margin-bottom: 8px;

        &:nth-last-of-type(-n+1) {
            margin-bottom: 0;
        }
    }
}